body{
	background-image: url("../img/burung.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#konten{
		background-color: grey;
		margin-top: 500px;
		margin-left: 10px;
		width: 500px;
		opacity: 0.5;
		color: white;
		padding-bottom: 8px;
		padding-left: 5px;
}